/*h1
{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    border: 1px solid black;
}

.fonteBranca
{
    color: white;
    text-decoration: none;
    font:bold 18px Arial;
    font-variant: all-small-caps;
}

.caixaAzul
{
    border: 1px solid blue;
    background-color: blue;

}

a.botao{
    position: relative;
    top: 15px;
    padding: 5px;
    border-radius: 5px;
}

.caixaVermelha
{
    border: 1px solid red;
    background-color: red;
}

th
{
    background-color:silver;
}

td
{
    border-style: none;

}
tr
{
    background-color:whitesmoke;
}

fieldset{

    border-style: none;
}

form{
    border: 1px solid gray;
}
/* #edit
{
    border: 1px solid blue;
    background-color: blue;
    position: relative;
    top: 15px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font:bold 18px Arial;
    font-variant: all-small-caps;
} */